<main class="solution p_90-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="soulution_content">
                    <div class="s_content_1">
                        <h1 class="text-uppercase">SBH Batiment</h1>
                        <p>SBH Batiment est l’un des leaders dans le secteur du BTP
                            (batiment &amp; travaux publics) en Tunisie avec une forte notoriété à l’international..</p>
                    </div>
                    <div class="s_content_2">
                        <div class="media media_custom"><i><a href="#"><img src="assets/img/icons8-skyscrapers-65.png" alt=""></a></i>
                            <div class="media-body">
                                <h5 class="mt-0">Domaines d’activité</h5>
                                <p>SBH est intervenu sur plusieurs projets couvrant divers domaines tels que
                                    bâtiments industriels,
                                    bâtiments civils, Bâtiments résidentiels…</p>
                            </div>
                        </div>
                    </div>
                    <div class="s_content_2">
                        <div class="media media_custom mb-0"><i><img src="assets/img/icons8-project-64.png"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Construire de la confiance</h5>
                                <p>Les méthodes d’organisation chez SBH Batiment et sa maîtrise des risques et son
                                    strict respect des budgets et des délais, lui permettent aujourd’hui de figurer
                                    parmi les
                                    meilleurs spécialistes du BTP en Tunisie</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="box">
                    <div class="overlay">
                        
                        <div class="overlay-inner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>