<div class="footer_top p_90-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5">
                <div class="ft_1"><img src="assets/img/sbbh.png" class="img-fluid" alt="sbh batiments">
                    <p>SBH est une entreprise générale spécialisé dans la construction et rénovation des batiments.
                    <a href="https://drive.google.com/file/d/1BxUQwXvnOLhTkx_cIxxQEy6kt6zgR2E8/view?usp=sharing" class="service_btn">En savoir plus <fa-icon [icon]="['fas', 'angle-double-right']" ></fa-icon></a>
                   </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5">
                <div class="ft_2">
                    <div class="ft_common">
                        <h3 class="text-uppercase">Evenements</h3>
                        <hr>
                    </div>
                    <div class="media">
                        <h4 class="mr-3">13 <br>Fev</h4>
                        <div class="media-body">
                            <h5 class="mt-0"><a href="https://immotunisie.com.tn/les-13emes-journees-de-leco-construction-economie-denergie-innovation/">salon
                                    écoconstruction, économie d'énergie et innovation</a></h5>
                        </div>
                    </div>
                    <hr>
                    <div class="media">
                        <h4 class="mr-3 mt-1">28<br>Jui</h4>
                        <div class="media-body">
                            <h5 class="mt-0"><a href="https://www.ccis.org.tn/mission-affaires/la-participation-tunisienne-a-la-4eme-session-du-salon-de-la-construction-en-libye-libya-construction-expo-2021-du-28-juin-au-1er-juillet-a-tripoli/">salon
                                    de la construction en Libye</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-sm-0 mb-5">
                <div class="ft_3">
                    <div class="ft_common">
                        <h3 class="text-uppercase">NOTRE PLAN DU SITE</h3>
                        <hr>
                    </div>
                    <ul class="nav flex-column nav_ft">
                        <li class="nav-item"><a class="nav-link pt-0" href="presentation.html"><i class="fas fa-chevron-right"></i> Presentation</a></li>
                        <li class="nav-item"><a class="nav-link" href="services.html"><i class="fas fa-chevron-right"></i> Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="projets.html"><i class="fas fa-chevron-right"></i> Projets</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html"><i class="fas fa-chevron-right"></i> Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="news.html"><i class="fas fa-chevron-right"></i> News</a></li>
                     
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-sm-0 mb-5">
                <div class="ft_common">
                    <h3 class="text-uppercase">Contactez nous</h3>
                    <hr>
                </div>
                <div class="ft_1">
                    <p>
                        <i class="fas fa-map-marker-alt"> El Mida, Nabeul, 8044 Tunisie</i><br>
                        <i class="fas fa-phone-alt"> 72 297 725</i>
                        <i class="far fa-envelope"> COMMERCIAL@sbh-batiments.com </i>
                    </p>


                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12791.096743235354!2d10.844431224887686!3d36.72798417747526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1302b3ce56168a77%3A0x279ec8588a9bd780!2sEl%20Mida%2C%20Tunisie!5e0!3m2!1sfr!2sus!4v1629586187328!5m2!1sfr!2sus" width="100%" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>

            </div>
        </div>
    </div>
</div>