<main class="hd_top_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="top2_left"><img src="assets/images/top-header/sbbh.png" class="img-fluid" alt="SBH"></div>
            </div>
            <div class="col-lg-9 col-12 d-md-block d-none"><span>&nbsp; &nbsp;</span><br>
                <div class="hd_top_2_right float-right">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i>
                                <img src="assets/images/top-header/icons8-skyscrapers-64.png" class="img-fluid" alt="SBH">
                            </i>
                            <span class="contant_info"><span class="lable">BTP</span>
                                <a href="#service">Travaux publics</a></span>
                        </li>

                        <li class="list-inline-item"><i>
                                <img src="assets/images/top-header/icons8-road-closure-65.png" class="img-fluid" alt="SBH">
                            </i>
                            <span class="contant_info"><span class="lable">VRD</span>
                                <a href="#service">Gros Oeuvre</a></span>
                        </li>
                        <li class="list-inline-item"><i>
                                <img src="assets/images/top-header/icons8-architect-50.png" class="img-fluid" alt="sbh"></i><span class="contant_info"><span class="lable">Décoration intérieure</span>
                                <a href="#service">travaux de finition</a></span>
                        </li>
                        <li class="list-inline-item"><i>
                                <img src="assets/images/top-header/icons8-factory-50.png"></i><span class="contant_info"><span class="lable">Complexe industriel</span><a href="#service">
                                    Fondations profondes</a></span>
                        </li>



                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>