<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer_content">
                    <p>© 2021 <a href="https://www.facebook.com/raed.tounssi/" target="__blanck">Raed
                            Hamaoui</a>. All
                        Rights Reserved</p>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="footer_icon ">
                    <a href="https://www.facebook.com/SBH-B%C3%A2timent-671495979975854">

                        <fa-icon [icon]="['fab', 'facebook-f']" class="fab">
                        </fa-icon>

                    </a>
                    <a
                        href="https://www.instagram.com/sbh_batiments/?fbclid=IwAR2ujmYuGUwq3Wdx1fQWiDbf0o4IE3nrisZART4E2Tra7HOD5RfZLzwNqUE">

                        <fa-icon [icon]="['fab', 'instagram']" class="fab">
                        </fa-icon>
                    </a>
                    <a
                        href="https://www.instagram.com/sbh_batiments/?fbclid=IwAR2ujmYuGUwq3Wdx1fQWiDbf0o4IE3nrisZART4E2Tra7HOD5RfZLzwNqUE">

                        <fa-icon [icon]="['fab', 'google']" class="fab">
                        </fa-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/montassar-ben-fraj-b36662175/">

                        <fa-icon [icon]="['fab', 'linkedin-in']" class="fab">
                        </fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
 