<header class="sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light px-0 text-uppercase"><a class="navbar-brand brand_cusotm" href="mailto:COMMERCIAL@SBH-BATIMENTS.COM">Demandez un devis</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="fas fa-bars" id="manu_toggle"></span></button>
            <div class="collapse navbar-collapse manu" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item active"><a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="presentation.html">Presentation</a></li>
                    <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="projets.html">Projets</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li> 
                    <li class="nav-item"><a class="nav-link" href="news.html">News</a></li>
                   
                </ul>
            </div>
        </nav>
    </div>
</header>